.page-loader{
    background:black url('/src/img/ajax-loader-page.gif') center center no-repeat;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
.block-loader{
    background:transparent url('/src/img/ajax-loader-block.gif') top left no-repeat;
    width:24px;
    height: 24px;
}